<head>
	{% if page.title %}
		<title>{{ page.title }} | Test Page</title>
	{% else %}
		<title>Test Page: Don't Panic</title>
	{% endif %}
	{% if page.description %}
		<meta name="description" content="{{ page.description }}">
	{% else %}
		<meta name="description" content="This is a dangerous site.">
	{% endif %}
	<link href="/favicon.png" rel="icon">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/fonts/fontawesome-free-6.6.0-web/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
